# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.vs
obj
bin
*.user
*.nupkg
packages
Decoders/LJ92/LJ92.macOS.xcodeproj/xcuserdata
Decoders/LJ92/LJ92.macOS.xcodeproj/project.xcworkspace/xcuserdata
Decoders/LJ92/DerivedData
*.pdb
*.tlog
*.idb
*.log
Decoders/LJ92/x64
Decoders/Unpack/DerivedData
Decoders/Unpack/Unpack.macOS.xcodeproj/xcuserdata
Decoders/Unpack/Unpack.macOS.xcodeproj/project.xcworkspace/xcuserdata
*.ilk
Decoders/Unpack/x64
Decoders/Decoders.macOS.xcworkspace/xcuserdata
*.msi
Decoders/LJ92/Build
Decoders/Unpack/Build
