<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>OCTOPUS RAW Player</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleIdentifier</key>
	<string>com.octopus.rawplayer</string>
	<key>CFBundleName</key>
	<string>OCTOPUS RAW Player</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2023 OCTOPUSCINEMA</string>
	<key>NSMainNibFile</key>
	<string>PlayerMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
